<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <h3><b>Emular com capacitor e Adndorid studio</b></h3>
    <h3>Crie seu aplicativo Ionic</h3>
    <p>ionic build</p>
    <h4><b>Adicionar plataformas</b></h4>
    <p>npx cap add android</p>
    <h4><b>IDE aberto para criar, executar e implantar</b></h4>
    <p>npx cap open android</p>
    <h4><b>Web de desenvolvimento teste simples</b></h4>
    <p>npx cap serve</p>

    <h3><b>Cordova e Vysor</b></h3>
    <h3><b>Comandos cordova para plataforma android</b></h3>
    <p>ionic cordova platform add android</p>
    <p>ou ionic cordova prepare android</p>
    <h4>ionic cordova emulate android -l</h4>

</ion-content>